<div class="first">You'd need to login with an Ethereum wallet to buy NFTs.</div>
<div class="container">
    <div class="second">But here in ColeVerse everything is</div>
    <div class="easy">EASY!</div>
</div>
<div class="container2">
    <div>Here's some kinds of </div>
    <div class="wallet">wallets </div>
    <div>that you'd need to login with</div>
    <div class="mouse"></div>
</div>
<div class="write">A crypto wallet is an application or hardware 
    device that allows individuals to store and retrieve digital items.</div>
